
.navBar {
    max-width: 100vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo {
    padding: 32px 0px 32px 0px;
}

.logo h2 {
    color: #f43299;
    font-weight: 600;
    font-family: cursive;
}

/* .navList {
    margin-left: ;
} */

.navList ul {
    padding: 32px 0px 32px 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.navList ul li {
    color: #444B59;
}

.navBar a {
    text-decoration: none;
    color: inherit;
}

.nav-islogin-div ul {
    /* margin: 0px 124px 0px 0px ; */
    display: flex;
    flex-direction: row;
    /* background-color: #f43299; */
}

.nav-islogin-div li {
    /* border: 2px solid black; */
    /* gap: 1002px; */
    margin: 0px 12px;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    position: relative;
}

.nav-islogin-element {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(241, 158, 210, 0.1); 
    position: relative;
}

.nav-islogin-element:hover {
    background-color: rgba(241, 158, 210, 0.3);
}

.nav-islogin-element:active {
    background-color: rgba(241, 158, 210, 0.5);
}

.nav-icon-cart {
    position: relative;
}

.nav-icon-login-cointainer {
    position: relative;
    height: 50px;
    display: grid;
    place-items: center;
}

.nav-icon-login-cointainer img {
    position: relative;
    z-index: 1;
}

.add-cart-count {
    position: relative;
}

.cart-count {
    position: absolute  ;
    top: 24px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #444B59;
    color: #FFFFFF;
    z-index: 2;
}

.cart-count p {
    color: inherit;
    font-size: 10px;
}