.Special-list-shop {
    margin: 32px 0px;
}

.special-listing {
    margin: 24px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: space-around;
  }
  
  .special-listing Card {
    flex: 1 1 calc(20% - 16px); 
    max-width: calc(20% - 16px);
    min-width: 120px;
  }
  