.ShopSupportDetails {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.features {
    margin: 64px 32px;
}

.features img,
.features h4 {
    margin: 12px 0px;
}

