.Item-card {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 360px;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: 0.5px solid lightgoldenrodyellow;
    cursor: pointer;
    /* text-align: center; */
}

.Item-card:hover {
    background-color: #FfefFf;
}

.Item-card img {
    border-radius: 12px;
}


.Item-card-content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-around;
    padding: 16px 32px;
    width: 100%;
}

.Item-card-content-text {
    margin: 0px 24px;
    overflow: hidden;
    width: 60%;
}

.Item-card-price {
    text-align: center;
}